/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:wght@500&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');

/* ulitilies or common styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: #f3f1ff;
}
main {
    display: flex;
    justify-content: center;
}
.container {
    background-color:#f3f1ff ;
    width: 870px;
    padding:30px;
}
/* top player styles */
.section-title {
    color:#562eff;
    font-size: 24px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}
.player-name {
    margin-left: 16px;
}